

.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}

.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}

.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgba(122, 211, 114, 0.63) !important;
    color: black !important;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 120px;
    position: relative;
    border: 2px dashed black;
}
.bord nav{
    top: 10px;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.c{
    height:100%;
    width: 100%;
    top: 55px;
    position: relative;
}
nav{
    background-color: rgb(122, 211, 114) !important;
    color: black !important;
    text-align:center;
}
h5{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s ease-in-out;
    font-weight: 600;
    font-size: medium;
}
h5:hover{
    color: blue;
}
.bord{
    top: 10px;
    position: relative;
    border: 2px dashed black;
}
#points{
    height: 100%;
    background-color: rgba(67, 197, 67, 0.589);
    padding: 60px;
    font-size: 30px;
    border: 50px solid white;
}
.bord nav{
    top: 10px;
}
#grids{
    height: 100%;
    background-color: rgba(67, 197, 67, 0.589);
    padding: 60px;
    font-size: 30px;
    border: 50px solid white;
}
.html
{
    position: relative;
    overflow:scroll;
    height: 200px;
}
@media (width < 768px) {
    .c{
        position: relative;
        top: 120px !important;
    }
}
@media (width > 768px) {
    .bord{
        top: 0px;
        position: relative;
        border: 2px dashed black;
    }
}
.d{
    background-color: aqua;
}